@use "../../index.scss";

.Dashboard{
  @extend .view;
  &__topPlaces{
    width: 85vw;
  }
  &__addPlace{
    @extend .button;
    margin-top: 32px;
  }

  &__title{

  }

}

.TopPlaces{
  display: flex;
  flex-direction: column;
  list-style:none;
  width: 100%;
  padding: 0;
}

.Place{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 20px;
  &__position{
    padding: 30px;
    margin-top: 15px;
  }
  &__name{
    min-width: 220px;
  }
  &__content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border:1px solid #18ab29;
    border-radius: 5px;
    padding: 30px;
    width: 260px;
    margin-top: 15px;
  }
}
