@use "../../../index.scss";

.LoginForm{
  display: flex;
  flex-direction: column;

  &__label{
    margin-top: 16px;
  }
  &__input{

    height: 28px;
    margin-bottom: 2px;
  }
  &__submit{
    margin-top: 32px;
    @extend .button;
  }
}